extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(ng-controller="indexController", ng-init="init()", ng-cloak)
    .wrapper
      .container
        .left
          .top
            ul.tab
              li.onlineUsers
                a Online Users
          ul.people(ng-repeat="user in users")
            li.person
              span.name {{user.username}}
              span.preview ID: {{user.id}}
          .bottom
        .right
          .top
            span
              span.name MESSAGES
          .chat.active-chat(ng-repeat="message in messages")
            .bubble.you
              span Hakan Aydın
              | I'm in California dreaming
            .bubble.me ... about who we used to be.
            .bubble.me Are you serious?
          .write
            input(type='text')
            a.write-link.send(href='javascript:;')
