extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(ng-controller="indexController", ng-init="init()", ng-cloak)
    .wrapper
      .container
        .left
          .top
            ul.tab
              li.onlineUsers
                a Online Users
          ul.people
            li.person(ng-repeat="user in users")
              span.name {{user.username}}
              span.preview ID: {{user.id}}
          .bottom
        .right
          .top
            span
              span.name MESSAGES
          .chat.active-chat
            div(ng-repeat="message in messages")
              .bubble.you(ng-if="!message.type")
                span {{message.username}}
                | {{message.text}}
              .bubble.me(ng-if="message.type")
                | {{message.text}}
          .write
            input(type='text')
            a.write-link.send(href='javascript:;')
